.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-login {
    padding-top: 20vh;
}

#container-signup {
    padding-top: 5vh
}

.paragraph {
    color: #71797E;
    padding-bottom: 2vh;
    max-width: 30vh;
    text-align: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.user-input {
    padding: 15px;
    width: 45vh;
}

.action-btn {
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    width: 45vh;
    background-color: #5095F6;
    color: white;
    height: 7vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link {
    padding-top: 5vh;
}

#signup-link {
    color: #5095F6;
    text-decoration: none;
}

#reset-link {
    color: #5095F6;
    text-decoration: none;
}

.errorMsg {
    text-align: center;
    color: red;
}

.successMsg {
    text-align: center;
    color: #4BB543;
}

.title {
    font-weight: 200;
}