.friendsContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-height: 60vh;
    overflow-y: scroll;
}

.friendsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
}

.profilePicInUserList {
    align-self: center;
    margin-bottom: 20px;
    border-radius: 50%;
}

.name {
    font-weight: 400;
    position: relative;
    top: 10px;
}

.friendDetails {
    display: flex;
    flex-direction: column;
}

.friendName {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.latestMessage {
    position: relative;
    bottom: 10px;
    color:   grey;
}

.onlineStatus {
    color: #00FF00;
    margin-bottom: 20px;
    font-size: 30px;
}

.offlineStatus {
    color: grey;
    margin-bottom: 20px;
    font-size: 30px;
}

.friendsList {
    padding-top: 20px;
}

.friendsList.SelectedChat {
    background-color: #4399FF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .friendsContainer {
        max-height: 50vh;
    }
}