.friendsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.friendsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 10px;
    border-bottom: 1px solid black;
}

.profilePicInUserList {
    align-self: center;
    margin-bottom: 20px;
}

.name {
    font-weight: 400;
    position: relative;
    top: 10px;
}

.friendDetails {
    display: flex;
    flex-direction: column;
}

.friendName {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.latestMessage {
    position: relative;
    bottom: 10px;
    color:  gray;
}

.onlineStatus {
    color: #00FF00;
    margin-bottom: 20px;
    font-size: 30px;
}

.offlineStatus {
    color: grey;
    margin-bottom: 20px;
    font-size: 30px;
}