html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}
  
.Main-container {
    display: flex;
    flex-direction: row;
    height: 99vh;
}
  
.left-side {
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    flex: 1;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-right: 1px solid lightgray;
    border-radius: 15px;
}