html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}
  
.Main-container {
    display: flex;
    flex-direction: row;
    height: 99vh;
}
  
.left-side {
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    flex: 1;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-right: 1px solid lightgray;
    border-radius: 15px;
}
  
.chat-container {
    flex: 2;
    background-color: #F0F0F0;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.search-input {
    padding: 8px;
    width: 40vh;
    border-radius: 25px;
    border-width: 1px;
}

.chatInput-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 64%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 10px;
}

.chatInput {
    padding: 10px;
    border-radius: 25px;
    border-width: 1px;
    width: 60vh;
}

.send-btn {
    cursor: pointer;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 180px;
    padding: 10px;
    background-color: #4399FF;
    color: #fff;
    border-width: 1px;
    border-color: #fff;
}

.profile-pic {
    width: 70px;
    border-radius: 260px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    gap: 10px
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.userInList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.profilePicInUserList {
    width: 40px;
}

.usernameInList {
    font-size: 20px;
    font-weight: 200;
    padding-top: 5px;
}

.usersList {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.followIcon {
    font-size: 25px;
}

.iconsInList {
    display: flex;
    gap: 10px;
}

.friendsList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.friendsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.name {
    font-weight: 400;
}

.ChatHeader {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 30px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chatAreaContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 73vh;
    gap: 20px;
}

.currentUserMsgs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    background-color: #4399FF;
    color: white;
    padding: 10px;
    width: fit-content;
    max-width: 80%;
    margin-left: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.messageCurrent {
    align-self: flex-end;
    margin-bottom: 5px
}

.messageOther {
    align-self: flex-start;
    margin-bottom: 5px;
}

.otherUserMsgs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    background-color: #fff;
    padding: 10px;
    width: fit-content;
    max-width: 80%;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}