.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    text-align: center;
}


.search-input {
    padding: 10px;
    margin-top: 10px;
    width: 40vh;
    border-radius: 20px;
    border-width: 1;
    border-color: lightgray;
    background-color: FAF9F6;
}