.profileContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    top: 10vh;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileImage {
    width: 20vh;
}

.follow {
    font-size: 20px;
    cursor: pointer;
}

.PersonName {
    font-size: 20px;
}

.profileDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.goBack {
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.editProfilePic {
    position: absolute;
    left: 49%;
    top: 15%;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.ProfileImageContainer:hover .editProfilePic {
    opacity: 1;
}

.profilePicActionButtons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.profilePicActionBtn {
    color: white;
    background-color: #4399FF;
    border: 1px solid #4399FF;
    padding: 1vh;
    border-radius: 10px;
}